* {
    box-sizing: border-box;
}

body {
    background: rgb(197, 197, 201);
}

.container {
    background-color: rgb(41, 39, 39);
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(185, 179, 179);
    text-align: center;
    padding-top: 1em;
    font-size: 3rem;
}

.main-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-thumbnail {
    display: block;
    width: 100%;
    background-size: cover;
}

.cards {
    position: relative;
    width: 30%;
    padding: 0.5em;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.overlay:hover {
    opacity: 1;
}


.image-blur:hover {
    backdrop-filter: blur(3px);
}

.short-content {
    font-size: .8em;
    margin: 0 auto;
    padding: 1em;
}

.text-dev {
    font-size: 70%;
}

.text-name {
    font-weight: 800;
    text-shadow: 1px 1px 1px 2px gray;
}

.api-text {
    color: rgb(61, 155, 187);
}

a {
    color: lightblue;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }